:root {
    --body-color: #1D232A;
    --header-color: #1D232A;
    --header-mobile-color: #15191C;
    --side-menu-color: #15191C;
    --card-color: #2C343A;
    --font-color: #FFFFFF;
    --alt-font-color: #95999C;
    --links-color: #0480DC;
    --links-color: #0480DC;
    --shadows: 0px 4px 4px rgba(0, 0, 0, 0.16); 
}