body {
    background-color: var(--body-color);
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-mobile-color);
    padding: 8px 16px;
    box-shadow: var(--shadows);
}
.header__menu {}
.header__logo {}
.header__notificacao {}